
<mat-list class="auto-height-class"  >
<div class="example-button-row">
  <mat-list-item >    
  <button mat-raised-button color="primary"  *ngIf="updateKefalaio.isVisible"
      [disabled]="updateKefalaio.isDisabled"
      (click)="updateDatabase(); openDialog();">Ενημέρωση
    </button>  
  <button mat-raised-button color="primary"  *ngIf="print.isVisible"
      [disabled]="print.isDisabled"
      (click)="printLabels()">Εκτύπωση
  </button>    
  </mat-list-item>
</div>
<mat-divider></mat-divider>

<mat-list-item >
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="print">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="($event ? selection.toggle(row) : null);addOrRemoveFromPrintSelection(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="($event ? selection.toggle(row) : null);addOrRemoveFromUpdateSelection(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> ΄Ονομα </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="defaultProfit">
        <th mat-header-cell *matHeaderCellDef> Ποσοστό κέρδους (%) </th>
        <td mat-cell class ="{{element.defaultProfit.class}}" *matCellDef="let element"> {{element.defaultProfit.value}} </td>
      </ng-container>
    
      <ng-container matColumnDef="purchasePrice">
        <th mat-header-cell *matHeaderCellDef> Τιμή αγοράς </th>
        <td mat-cell *matCellDef="let element"> {{element.invoicePrice}} </td>
      </ng-container>
    
      <ng-container matColumnDef="newPrice">
        <th mat-header-cell *matHeaderCellDef> Νέα τιμή </th>
        <td mat-cell *matCellDef="let element" > {{element.newPrice}} </td>
      </ng-container>
    
      <ng-container matColumnDef="profitInEuro">
        <th mat-header-cell *matHeaderCellDef> Κέρδος (€) </th>
        <td mat-cell 
          *matCellDef="let element"
          [satPopoverAnchorFor]="p"
          class="clickable"
          (click)="(currentState === 2 ? p.open() : null)"
          > {{element.profitInEuro}}

          <sat-popover #p
            hasBackdrop
            xAlign="start"
            yAlign="start"
            (closed)="updateProfit(element, $event)">
          <inline-edit 
            [value]="element.profitInEuro" 
            [title] = "'Δώστε το επιθυμητό κέρδος'"
            [inputTitle] = "'Κέρδος (€)'"
          ></inline-edit>
        </sat-popover>
        </td>
        
      </ng-container>

      <ng-container matColumnDef="kefalaioPrice">
        <th mat-header-cell *matHeaderCellDef> Τιμή Πώλησης</th>
        <td mat-cell *matCellDef="let element"> {{element.retailPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Αλλαγή </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-icon  
              matTooltip="{{element.status.label}}"
              matTooltipPosition='right'
              [ngStyle]="{color: element.status.color }"
              [satPopoverAnchorFor]="p"
              (click)="(currentState === 2 ? p.open() : null)">
              <div class="clickable"> <sup> {{element.status.name}}   </sup> </div>                
          </mat-icon> <sup>{{element.status.counter}}</sup>
          
          <sat-popover #p
                  hasBackdrop
                  xAlign="start"
                  yAlign="start"
                  (closed)="updateNewPrice(element, $event)">
                <inline-edit 
                [value]="element.newPrice" 
                [title] = "'Οι τελευταίες 3 τιμες ειναι: 1.2, 1.3, 1.4'"
                [inputTitle] = "'Νέα τιμή'"
                ></inline-edit>
          </sat-popover>
          
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
  </table>
</mat-list-item>

</mat-list>