:host {
    width: 100%;
}

table {
    width: 100%;
}

.clickable{
    cursor: pointer;
}

.mat-header-cell {
    text-align: center; 
}

.mat-cell {   
    text-align: center;
}

.auto-height-class .mat-list-item {
    height: auto;       
}


.mat-icon .update {
        color: red;
}
