table {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
  
.searchAndAdd {
    text-align: center;
    margin: 0 auto;
}

.mat-form-field {
    font-size: 14px;
    width: 40%;
}

.mat-header-cell {
    text-align: center; 
    font-weight: bold;
}

.mat-row:hover {
    background-color: beige;
    font-weight: bold;
}

.mat-icon {
    transform: scale(0.7);
    color: black;
}

.mat-icon:hover {
    color: red;
    font-weight: bold;
    font-size: xx-large;
}