<div class="searchAndAdd">
    <mat-form-field>
        <mat-label>Αναζήτηση</mat-label>
        <input matInput (keyup)="onSearch($event)" placeholder="πχ. Ντοματες ἠ 2092 ἠ 0.3">
    </mat-form-field>
  

  <button class="example-button-row"
    mat-raised-button color="primary"
    (click) = "onAdd();"> προσθήκη 
  </button>
</div>
<mat-divider></mat-divider>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>΄Ονομα </th>
      <td mat-cell *matCellDef="let element"> {{element.sName}} </td>
    </ng-container>
    
    <ng-container matColumnDef="profitPercentage">
      <th mat-header-cell *matHeaderCellDef> Κέρδος (%) </th>
      <td mat-cell *matCellDef="let element"> {{element.profitPercentage}} </td>
    </ng-container>
  
    <ng-container matColumnDef="minimumProfit">
      <th mat-header-cell *matHeaderCellDef> Ελάχιστο κέρδος (€) </th>
      <td mat-cell *matCellDef="let element"> {{element.minProfit}} </td>
    </ng-container>

     <ng-container matColumnDef="kefCode">
      <th mat-header-cell *matHeaderCellDef> Κωδικός </th>
      <td mat-cell *matCellDef="let element"> {{element.sCode}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Επεξεργασία</th>
        <td mat-cell *matCellDef="let element">                    
          <mat-icon class="rules-icons" (click)="onEdit(element)"> edit </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete"> 
        <th mat-header-cell *matHeaderCellDef> Διαγραφή </th>
        <td mat-cell *matCellDef="let element">                              
          <mat-icon class="rules-icons" (click)="onDelete(element)"> delete </mat-icon>          
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  
  
