.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.completed-icon {
  font-size: 50px;
  position: relative;
  top: 12px;
}

.completed-msg{
  font-size: 26px;
}

.end-page-content {
  text-align: center;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}