<mat-horizontal-stepper #stepper>
  <mat-step> 
      <ng-template matStepLabel>Φόρτωσε το αρχείο</ng-template>     
      <!--<input type="file"  />-->
      <upload-file (eventTest)=test($event)>loading</upload-file>
      <div style="float: right;">
          <button mat-button matStepperNext>Επόμενο</button>
      </div>  
  </mat-step>

  <mat-step >    
    <ng-template matStepLabel>Ενημέρωσε τις τιμές</ng-template>

    <app-table #table2 
      [dataSource]="dataSource"
      [currentState]="2" >loading</app-table>      
  
    <div style="float: right;">
      <button mat-button matStepperPrevious>Προηγούμενο</button>
      <button mat-button matStepperNext>Επόμενο</button>
    </div>  
  </mat-step>

<mat-step >    

    <ng-template matStepLabel>Εκτύπωσε τις ταμπέλες</ng-template>
          
    <app-table #table3 
      [dataSource]="dataSource"
      [currentState]="3" >loading</app-table>      
    <div style="float: right;">
      <button mat-button matStepperPrevious>Προηγούμενο</button>
      <button mat-button matStepperNext>Επόμενο</button>
    </div>    

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Τέλος.</ng-template>    
    <ul>
      <li> 
        Ιστορικό (με ποσοστά κέρδους).
        (<a href> Εκτύπωση,  </a>
        <a href> Ανοιγμα </a>)
      </li>
      <li>Νέες τιμές.
          (<a href> Εκτύπωση,  </a>
          <a href> Ανοιγμα </a>)
      </li>      
    </ul> 
   
    <div>
      <button mat-button matStepperPrevious>Προηγούμενο</button>
      <button mat-button (click)="stepper.reset()">Αρχή</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>