<mat-horizontal-stepper #stepper>
  <mat-step> 
      <ng-template matStepLabel>Φόρτωσε το αρχείο</ng-template>     
      <!--<input type="file"  />-->
      <import (eventUpdateDataSource)=updateDataSource($event)>loading</import>
      <div style="float: right;">
          <button mat-button matStepperNext>Επόμενο</button>
      </div>  
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Έλεγχος αντιστοιχίσεων</ng-template>
    <app-mappings
    [dataSource]="mappingsDataSource"
    [isImportStep]="true"
    >
    </app-mappings>
    <div style="float: right;">
      <button mat-button matStepperPrevious>Προηγούμενο</button>
      <button mat-button matStepperNext>Επόμενο</button>
    </div>  
  </mat-step>

  <mat-step >    
    <ng-template matStepLabel>Ενημέρωσε τις τιμές</ng-template>

    <app-table #table2 
      [dataSource]="dataSource"
      [currentState]="2"
      [invoiceDate]="invoiceDate" >loading</app-table>      
  
    <div style="float: right;">
      <button mat-button matStepperPrevious>Προηγούμενο</button>
      <button mat-button matStepperNext>Επόμενο</button>
    </div>  
  </mat-step>

<mat-step >    

    <ng-template matStepLabel>Εκτύπωσε τις ταμπέλες</ng-template>
          
    <app-table #table3 
      [dataSource]="dataSource"
      [currentState]="3"
      [invoiceDate]="invoiceDate" >loading</app-table>      
    <div style="float: right;">
      <button mat-button matStepperPrevious>Προηγούμενο</button>
      <button mat-button matStepperNext>Επόμενο</button>
    </div>    

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Τέλος.</ng-template>
    <mat-list class="auto-height-class"  >
        <div class="example-button-row">
          <mat-list-item >
            <button mat-raised-button color="primary"  style="float: right;"
              (click)="downloadHistory()">
              <mat-icon>cloud_download</mat-icon>
              Ιστορικό ελ. προτ. τιμών
            </button>  
          </mat-list-item>  
        </div>
    </mat-list>
     <div class="end-page-content">
      <mat-divider></mat-divider>
      <mat-icon class="completed-icon" [inline]="true">check_circle_outline</mat-icon>
      <span class="completed-msg">H διαδικασία ολοκληρώθηκε.</span>
    </div>     
    <div style="float: right;">
      <button mat-button matStepperPrevious>Προηγούμενο</button>
      <button mat-button (click)="stepper.reset()">Αρχή</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>