<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Παραμετροποίηση</ng-template>
      <div class="center">
        <mat-form-field class="supplier-dropdown">
          <mat-label>Προμηθευτής</mat-label>
          <input
            type="text"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            required
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <br />
        <mat-form-field>
          <mat-label>Ημέρες</mat-label>
          <input
            matInput
            type="number"
            formControlName="nextOrderAfter"
            required
          />
          <mat-hint align="end">Μερες μεχρι την επομενη παραγγελια ^</mat-hint>
        </mat-form-field>

        <br /><br />
        <mat-form-field>
          <mat-label>Παράθυρο</mat-label>
          <input
            matInput
            type="number"
            formControlName="strnDateWindow"
            required
          />
          <mat-hint align="end"
            >Παραθυρο για υπολογισμό πωλησεων ανα μερα ^</mat-hint
          >
        </mat-form-field>
        <br /><br />
      </div>
      <div class="right-aligned-button">
        <button (click)="loadOrder()" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Επεξεργασία παραγγελίας</ng-template>
      <button (click)="exportPdf()" class="right-aligned-button">
        Eξαγωγή όλων (pdf)
      </button>
      <!-- <button (click)="sendEmail()" class="right-aligned-button">
        Αποστολή Email
      </button> -->

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container
          [matColumnDef]="col.key"
          *ngFor="let col of columnsSchema"
        >
          <th mat-header-cell *matHeaderCellDef>
            <div [ngSwitch]="col.type">
              <div *ngSwitchCase="'select'">
                <mat-checkbox
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                >
                </mat-checkbox>
              </div>
              <span *ngSwitchDefault>
                {{ col.label }}
              </span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                <button mat-button (click)="element.isEdit = !element.isEdit">
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-button
                  class="button-remove"
                  (click)="removeRow(element.product)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <div *ngSwitchCase="'select'">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(element) : null"
                  [checked]="selection.isSelected(element)"
                ></mat-checkbox>
              </div>
              <span *ngSwitchDefault>
                {{ element[col.key] }}
              </span>
            </div>

            <div *ngIf="element.isEdit">
              <div
                class="btn-edit"
                *ngIf="col.key === 'isEdit'; else dataField"
              >
                <button mat-button (click)="element.isEdit = !element.isEdit">
                  <mat-icon>done</mat-icon>
                </button>
              </div>
              <ng-template [ngSwitch]="col.key" #dataField>
                <div *ngSwitchDefault>
                  {{ element[col.key] }}
                </div>
                <div *ngSwitchCase="'suggestedQuantity'">
                  <mat-form-field>
                    <input
                      [type]="col.type"
                      matInput
                      [(ngModel)]="element[col.key]"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </mat-form-field>
                </div>
              </ng-template>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[12, 20]"
        showFirstLastButtons
        class="padding-paginator"
      ></mat-paginator>
      <div>
        <button class="right-aligned-button" mat-button matStepperNext>
          Next
        </button>
        <button class="right-aligned-button" mat-button matStepperPrevious>
          Back
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Αποθήκευση και εξαγωγή</ng-template>
    <p>You are now done.</p>
    <div>
      <button class="right-aligned-button" mat-button matStepperPrevious>
        Back
      </button>
      <button class="right-aligned-button" mat-button (click)="stepper.reset()">
        Reset
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
