<h2 mat-dialog-title>Αλλαγή αντιστοίχισης</h2>
<div mat-dialog-content>
 
    <mat-form-field>
        <mat-label>Ονομα στο τιμολόγιο</mat-label>
        <input type="text" disabled="disabled" matInput [(ngModel)]="data.pName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Τρέχων αντιστοίχιση</mat-label>
        <input matInput disabled="disabled" [(ngModel)]="data.sName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Νέα αντιστοίχιση</mat-label>
        <mat-select>
            <mat-option
            *ngFor="let sName of data.options;"
            [value]="sName">
                {{sName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button [mat-dialog-close] (click)=onCancel()>Άκυρο</button>
    <button mat-button [mat-dialog-close] (click)=onSave()>Αλλαγή</button>
</div>