<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="sName">
      <th mat-header-cell *matHeaderCellDef> ΄Ονομα  </th>
      <td mat-cell *matCellDef="let element"> {{element.sName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="sCode">
        <th mat-header-cell *matHeaderCellDef> Κωδικός  </th>
        <td mat-cell *matCellDef="let element"> {{element.sCode}} </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Έλεγχος</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox 
            [checked]="element.hasValidated"
            (change)="validate(element)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="pNames">
      <th mat-header-cell *matHeaderCellDef> Αντιστοιχίσεις </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let pName of element.pNames;" 
            [selectable]="false" [removable]="true"
            (removed)="onDeleteMapping(element,pName)"
            (click) = "openDialog(pName)"
            >
                {{pName}}
              <mat-icon *ngIf="!isImportStep" class="cancel-icon" matChipRemove>cancel</mat-icon>
            </mat-chip>
           
          </mat-chip-list>  
    </td>
    </ng-container> 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>