:host {
    width: 100%;
}

table {
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

.clickable{
    cursor: pointer;
}

.mat-header-cell {
    text-align: center; 
    font-size: 20px;
    font-weight: bold;
}

.mat-row {
    height: auto;
}
.mat-row:hover {
    background-color: beige;
    font-weight: bold;
}

.mat-cell {   
    text-align: center;
    font-size: 18px;
    padding: 1px 1px 1px 0;
}

.auto-height-class .mat-list-item {
    height: auto;       
}

.mat-icon {
    font-size: 30px;
}

.mat-icon .update {
    color: red;
}

.line-through {
    text-decoration: line-through;
}
