.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: 100px;
}

.clickable {
  cursor: pointer;
}

.mat-list .mat-list-item:hover {
  font-weight: bold;
}

