<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
<mat-form-field>
    <mat-label>Όνομα</mat-label>
    <input matInput [(ngModel)]="data.name">
</mat-form-field>
<mat-form-field>
    <mat-label>Πσοστό (%)</mat-label>
    <input matInput [(ngModel)]="data.profitPercentage">
</mat-form-field>
<mat-form-field>
    <mat-label>Ποσοστό (€)</mat-label>
    <input matInput [(ngModel)]="data.profitInEuro">
</mat-form-field>
<mat-form-field>
    <mat-label>Κωδικός</mat-label>
    <input matInput [(ngModel)]="data.Kef5Code">
</mat-form-field>

  <p>{{data.content}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] cdkFocusInitial>Ok</button>
</div>