<h2 mat-dialog-title>{{data.title}}</h2>
<div mat-dialog-content>
<mat-form-field>
    <mat-label>Όνομα</mat-label>
    <input matInput [(ngModel)]="data.product.name">
</mat-form-field>
<mat-form-field>
    <mat-label>Ποσοστό (%)</mat-label>
    <input matInput [(ngModel)]="data.product.profitPercentage">
</mat-form-field>
<mat-form-field>
    <mat-label>Ελάχιστο κέρδος (€)</mat-label>
    <input matInput [(ngModel)]="data.product.minimumProfit">
</mat-form-field>
<mat-form-field>
    <mat-label>Κωδικός</mat-label>
    <input matInput [(ngModel)]="data.product.sCode">
</mat-form-field>

  <p>{{data.content}}</p>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]>Άκυρο</button>
    <button mat-button [mat-dialog-close]>Καταχώρηση</button>
</div>