  <div style="margin-left: 10px; margin-top: 10px;">
    <mat-form-field >
        <mat-label>Αναζήτηση</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="πχ. Ντοματες ἠ 2092 ἠ 30%">
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>΄Ονομα </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    
    <ng-container matColumnDef="profitPercentage">
      <th mat-header-cell *matHeaderCellDef> Κέρδος (%) </th>
      <td mat-cell *matCellDef="let element"> {{element.defaultProfit.value}} </td>
    </ng-container>
  
    <ng-container matColumnDef="minimumProfit">
      <th mat-header-cell *matHeaderCellDef> Κέρδος (€) </th>
      <td mat-cell *matCellDef="let element"> {{element.profitInEuro}} </td>
    </ng-container>

     <ng-container matColumnDef="kefCode">
      <th mat-header-cell *matHeaderCellDef> Κωδικός </th>
      <td mat-cell *matCellDef="let element"> {{element.kef5Code}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Επεξεργασία</th>
        <td mat-cell *matCellDef="let element">                    
          <mat-icon style="cursor: pointer;" (click)="editRule(element)"> edit </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete"> 
        <th mat-header-cell *matHeaderCellDef> Διαγραφή </th>
        <td mat-cell *matCellDef="let element">                              
          <mat-icon style="cursor: pointer;"> delete </mat-icon>          
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  
  <button style="margin-left: 10px; margin-top: 10px;"
    mat-raised-button color="primary"
    (click) = "openDialog();"> προσθήκη 
  </button>
  
