table {
    width: 70%;
    margin-left: 10px;
}
  
.mat-form-field {
    font-size: 14px;
    width: 40%;    
    margin: 0 auto;
}

.mat-icon {
    transform: scale(0.7);
    color: black;
}

.mat-icon:hover {
    color: red;
    font-weight: bold;
    font-size: xx-large;
}